* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overscroll-behavior: none;
  overscroll-behavior-y: none;
  touch-action: pan-x pan-y;
}

@font-face {
  font-family: "Tektur";
  src: url("../fonts/Tektur/Tektur-VariableFont_wdth,wght.woff2")
      format("woff2"),
    url("../fonts/Tektur/Tektur-VariableFont_wdth,wght.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Major Mono Display";
  src: url("../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.woff2")
      format("woff2"),
    url("../fonts/Major_Mono_Display/MajorMonoDisplay-Regular.ttf")
      format("truetype");
  font-display: swap;
}

/* PAGE D'ACCUEIL */
.body-accueil {
  background-color: #5463aa;
}

#header {
  position: absolute;
  background-color: rgba(25, 29, 55, 0.8);
  height: 7rem;
  width: 100vw;
  z-index: 99;
  top: -20%;
  transition: top 0.5s ease-in-out;
}

#header.active {
  top: 0;
}

#header div {
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  margin-left: 30vw;
}

#header a {
  display: flex;
  align-items: center;
  padding: 0.7rem;
}

#header #svg-container {
  height: 100%;
}

#about-link {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-family: "Tektur";
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#about-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: clip-path 1.5s ease-out;
  clip-path: path(
    "M0 -0.12C8.33 -8.46 16.67 -12.62 25 -12.62C37.5 -12.62 35.91 0.15 50 -0.12C64.09 -0.4 62.5 -34.5 75 -34.5C87.5 -34.5 87.17 -4.45 100 -0.12C112.83 4.2 112.71 -17.95 125 -18.28C137.29 -18.62 137.76 1.54 150.48 -0.12C163.19 -1.79 162.16 -25.12 174.54 -25.12C182.79 -25.12 191.28 -16.79 200 -0.12L200 -34.37L0 -34.37L0 -0.12Z"
  );
  background: #5463aa;
}

#about-link:hover::before {
  clip-path: path(
    "M0 199.88C8.33 270.71 16.67 306.13 25 306.13C37.5 306.13 35.91 231.4 50 231.13C64.09 230.85 62.5 284.25 75 284.25C87.5 284.25 87.17 208.05 100 212.38C112.83 216.7 112.71 300.8 125 300.47C137.29 300.13 137.76 239.04 150.48 237.38C163.19 235.71 162.16 293.63 174.54 293.63C182.79 293.63 191.28 262.38 200 199.88L200 0.13L0 0.13L0 199.88Z"
  );
}

#about-link:active::before {
  clip-path: ellipse(100% 0% at 50% 0%);
}

/* Section start avec animation */
#start {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5463aa;
}

#start .wave {
  position: absolute;
  left: 0;
  top: 0%;
  width: 100%;
  height: 100%;
  background: #5463aa;
  transition: top 0.5s ease-in-out;
}

.wave.scrolled {
  top: -100% !important;
}

#start .wave span {
  position: absolute;
  width: 325vh;
  height: 325vh;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: #000;
  will-change: transform;
}

#start .wave span:nth-child(1) {
  border-radius: 45%;
  background: rgba(25, 29, 55, 1);
  animation: animate 5s linear infinite;
}

#start .wave span:nth-child(2) {
  border-radius: 40%;
  background: rgba(25, 29, 55, 0.5);
  animation: animate 10s linear infinite;
}

#start .wave span:nth-child(3) {
  border-radius: 42.5%;
  background: rgba(25, 29, 55, 0.5);
  animation: animate 15s linear infinite;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) scale(1) rotate(0deg);
  }
  50% {
    transform: translate(-50%, -75%) scale(1.05) rotate(180deg);
  }
  100% {
    transform: translate(-50%, -75%) scale(1) rotate(360deg);
  }
}

/* Désactive l'animation */

@media (prefers-reduced-motion: reduce) {
  #start .wave span {
    animation: none !important;
  }
}

.content {
  position: relative;
  z-index: 1;
  top: -10%;
}

#start svg {
  width: 35rem;
}

#start svg path {
  stroke-width: 0.4;
}

#logo path,
#logo g path {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: draw-line 5s forwards;
}

#logo g path {
  animation-delay: 2s;
}

@keyframes draw-line {
  to {
    stroke-dashoffset: 0;
  }
}

#logo g path[fill="#fff"] {
  opacity: 0;
  animation: fade-in 1s forwards;
  animation-delay: 1s;
}

@keyframes fade-in {
  to {
    opacity: 1;
  }
}

/* Section hero */
#hero {
  background-color: #5463aa;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  position: fixed;
  top: 100vh;
  left: 0;
  width: 100%;
  z-index: 10;
  overflow-y: auto;
  height: 100vh;
  transition: top 0.5s ease-in-out;
}

#hero.scrolled {
  top: 0;
}

#hero {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#hero::-webkit-scrollbar {
  display: none;
}

.presentation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.125rem;
  perspective: 1000px;
}

.presentation-accroche {
  color: #fff;
  text-align: center;
  font-family: "Major Mono Display";
  font-size: 128px;
  font-size: clamp(2.5rem, 10vw, 8rem);
  margin-bottom: 7rem;
}

.presentation-text {
  color: #fff;
  font-family: "Tektur";
  font-size: 32px;
  font-weight: 500;
  text-align: center;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in-up.in-view {
  opacity: 1;
  transform: translateY(0);
}

.fade-in-up.delay-1 {
  animation-delay: 0.6s;
}

/* Section outils */
#outils {
  background-color: rgba(25, 29, 55, 1);
  padding-top: 12.5rem;
  position: fixed;
  top: 100vh;
  width: 100%;
  z-index: 20;
  transition: top 0.5s ease-in-out;
  height: 100vh;
  overflow-y: scroll;
}

#outils.scrolled {
  top: 0 !important;
}

#outils {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#outils::-webkit-scrollbar {
  display: none;
}

#grid {
  padding: 0 2.5rem 2.5rem 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2.5rem;
  justify-items: center;
  margin-bottom: 7rem;
}

/* Flip cards */

.flip-card-container {
  width: 310px;
  height: 500px;
  margin: 40px;
  perspective: 1000px;
  color: white;
}

.flip-card {
  width: inherit;
  height: inherit;
  position: relative;
  transform-style: preserve-3d;
  transition: 0.6s;
}

.flip-card-container:hover .flip-card,
.flip-card-container:focus-within .flip-card {
  transform: rotateY(180deg);
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5463aa;
}

.card-front {
  transform: rotateY(0deg);
  z-index: 2;
}

.card-back {
  transform: rotateY(180deg);
  z-index: 1;
}

figure {
  z-index: -1;
}

figure,
.img-bg {
  position: absolute;
  top: 10%;
  left: 0;

  width: 50%;
  height: 100%;
}

img {
  height: 80%;
}

figcaption {
  display: block;
  width: auto;
  margin-top: 12%;
  padding: 8px 22px;
  font-family: "Tektur";
  font-weight: bold;
  line-height: 1.6;
  letter-spacing: 2px;

  text-align: center;
  position: absolute;
  top: 0;

  background-color: rgba(25, 29, 55, 0.7);
}

.card-desc {
  font-family: "Tektur";
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 5rem;
}

.create {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 6rem;
  background-color: rgba(31, 36, 69, 1);
  border: solid white;
  color: white;
  text-decoration: none;
  font-family: "Tektur";
  font-weight: 600;
  border-radius: 5px;
}

.create:hover {
  background-color: rgb(255, 255, 255);
  color: black;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #5463aa;
  height: 250px;
  color: white;
  width: 100%;
}

/* footer.active {
  top: 50vh;
} */

.copyright {
  font-family: "Tektur";
}

.mentions-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 70%;
}

.mentions-link {
  position: relative;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: 600;
  color: white;
  font-family: "Tektur";
  padding: 0.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 1;
}

.mentions-link::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  transition: clip-path 1.5s ease-out;
  clip-path: path(
    "M0 -0.12C16.66 -8.46 33.34 -12.62 50 -12.62C75 -12.62 71.82 0.15 100 -0.12C128.18 -0.4 125 -34.5 150 -34.5C175 -34.5 174.34 -4.45 200 -0.12C225.66 4.2 225.42 -17.95 250 -18.28C274.58 -18.62 275.52 1.54 300.96 -0.12C326.38 -1.79 324.32 -25.12 349.08 -25.12C365.58 -25.12 382.56 -16.79 400 -0.12L400 -34.37L0 -34.37L0 -0.12Z"
  );
  background: rgba(25, 29, 55, 0.95);
}

.mentions-link:hover:before {
  clip-path: path(
    "M0 199.88C16.66 270.71 33.34 306.13 50 306.13C75 306.13 71.82 231.4 100 231.13C128.18 230.85 125 284.25 150 284.25C175 284.25 174.34 208.05 200 212.38C225.66 216.7 225.42 300.8 250 300.47C274.58 300.13 275.52 239.04 300.96 237.38C326.38 235.71 324.32 293.63 349.08 293.63C365.58 293.63 382.56 262.38 400 199.88L400 0.13L0 0.13L0 199.88Z"
  );
}

.mentions-link:active::before {
  clip-path: ellipse(100% 0% at 50% 0%);
}

/* Responsive */

/* mobile */
@media (max-width: 768px) {
  header {
    height: 5rem;
  }

  #start {
    height: 90vh;
  }

  #about-link {
    font-size: 1rem;
  }

  #start .wave span {
    height: 300vh;
  }

  #start .wave {
    top: -20%;
  }

  #start svg {
    width: 100%;
  }

  #start svg path {
    stroke-width: 0.6;
  }

  .presentation-container {
    padding: 3rem 1.5rem;
  }

  .presentation-accroche {
    font-size: clamp(3.5rem, 10vw, 5rem);
    margin-top: 7rem;
    margin-bottom: 4rem;
  }

  .presentation-text {
    font-size: clamp(0.7rem, 4vw, 1.3rem);
  }

  .flip-card-container {
    padding-right: 2rem;
  }

  #grid {
    display: flex;
    padding: 0;
    margin-bottom: 0;
    height: 45rem;
    overflow-x: scroll;
  }

  #outils {
    padding-top: 3rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding-top: 2rem;
    height: 15rem;
  }
}

/* tablettes */
@media (min-width: 769px) and (max-width: 1024px) {
  header {
    height: 6rem;
  }

  #about-link {
    font-size: 1.2rem;
  }

  #start .wave span {
    height: 320vh;
  }

  #start .wave {
    top: -15%;
  }

  #start svg {
    width: 80%;
  }

  #start svg path {
    stroke-width: 0.5;
  }

  .presentation-container {
    padding: 4rem 2.5rem;
  }

  .presentation-accroche {
    font-size: clamp(4rem, 8vw, 6rem);
    margin-top: 6rem;
    margin-bottom: 3rem;
  }

  .presentation-text {
    font-size: clamp(1.1rem, 3vw, 1.7rem);
  }

  .flip-card-container {
    padding-right: 2.5rem;
  }

  #grid {
    display: flex;
    padding: 0 1rem;
    margin-bottom: 1rem;
    height: 55rem;
    overflow-x: scroll;
  }

  #outils {
    padding-top: 5rem;
  }

  footer {
    flex-direction: column;
    text-align: center;
    padding-top: 2.5rem;
    height: 18rem;
  }
}

.header-outil {
  background-color: rgba(25, 29, 55, 1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9rem;
  color: white;
  flex-wrap: wrap;
}

.header-outil img {
  height: 6rem;
}

.type-outil {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-outil p {
  margin-left: 1.5rem;
  font-family: "Tektur";
  font-size: 2rem;
}

.pannel {
  background-color: #5463aa;
  width: 90vw;
  max-width: 41.25rem;
  min-width: 470px;
  height: 200px;
  padding: 1rem;
  position: fixed;
  bottom: 5%;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  transition: height 0.5s ease-in-out, padding 0.5s ease-in-out;
}

.options-container {
  display: flex;
  flex-direction: row-reverse;
  overflow: auto;
  margin-top: 1rem;
}

.options-container.active {
  display: none;
}

.pannel.active {
  height: 3rem;
  justify-content: start;
  padding-top: 10px;
}

.hide-show {
  background-color: rgba(31, 36, 69, 1);
  border: solid white;
  color: white;
  font-family: "Tektur";
  font-weight: 600;
  width: 10rem;
  height: 4.375rem;
  max-height: 43px;
  border-radius: 5px;
}

.controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  align-items: center;
  justify-items: center;
  margin-right: 1rem;
  overflow: auto;
}

.control-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(31, 36, 69, 1);
  border: solid white;
  color: white;
  text-decoration: none;
  font-family: "Tektur";
  font-weight: 600;
  width: 10rem;
  height: 4.375rem;
  border-radius: 5px;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 80%;
  background: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]::-ms-track {
  width: 100%;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0, 161, 153, 1);
  cursor: pointer;
  margin-top: -5px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type="range"]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0, 161, 153, 1);
  cursor: pointer;
}

input[type="range"]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: rgba(0, 161, 153, 1);
  cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type="range"]::-ms-fill-upper {
  background: #ffffff;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #ffffff;
}

input[type="color"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 70px;
  height: 30px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch {
  border-radius: 5px;
  border: solid white;
}

input[type="color"]::-moz-color-swatch {
  border-radius: 15px;
  border: none;
}

.close-modal:hover,
.modal-btn:hover,
.controls button:hover {
  background-color: rgb(255, 255, 255);
  color: black;
  cursor: pointer;
}

.controls button:hover #save-svg path {
  stroke: #000000;
}

.modal-btn,
.close-modal {
  display: flex;
  width: 39px;
  height: 39px;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-color: rgba(31, 36, 69, 1);
  border: solid white;
  border-radius: 50%;
  text-align: center;
  font-family: "Tektur";
  font-size: 32px;
  font-weight: 600;
}

.modal-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s ease-in-out;
}

.modal-container.active {
  visibility: visible;
}

.modal-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.modal-container.active ~ .options-container {
  display: none;
}

.overlay {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(51, 51, 51, 0.8);
  transition: opacity 0.4s ease-in-out;
}

.modal {
  opacity: 0;
  width: 95%;
  height: 70%;
  max-width: 500px;
  padding: 30px;
  background: white;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
  overflow: auto;
  font-family: "Tektur", sans-serif;
  display: flex;
  flex-direction: column;
}

.modal-container.active .modal {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
  transition: opacity 0.4s ease-in-out, transform 0.4s ease-in-out;
}

.close-modal-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.modal-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333;
}

.modal-description {
  font-size: 1rem;
  margin-bottom: 1.5rem;
  color: #333;
}

.modal-list,
.modal-sublist {
  list-style: none;
  padding-left: 1.2rem;
}

.modal-subtitle {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

.modal-step {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
  color: #333;
}

.modal-text {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #333;
}

.modal-bullets {
  list-style: disc;
  margin-left: 1.5rem;
  color: #333;
}

.modal-bullets li {
  margin-bottom: 0.5rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  top: 100%;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

  font-family: "Tektur";
  font-size: 1rem;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown button {
  background-color: rgba(0, 161, 153, 1);
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: "Tektur";
  font-weight: 500;
}

.link-content {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.burger {
  display: none;
  font-size: 3.5rem;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  margin-right: 1rem;
}

.mobile-nav {
  display: none;
  flex-direction: column;
  background-color: rgba(25, 29, 55, 1);
  position: absolute;
  top: 9rem;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
}

.mobile-nav a {
  color: white;
  text-decoration: none;
  padding: 1rem;
  border-top: 1px solid #ababab;
  font-family: "Tektur";
}

.mobile-nav a:hover {
  background-color: #5463aa;
  color: #ffffff;
}

.mobile-dropdown {
  position: relative;
  width: 100%;
  border-top: 1px solid #ababab;
}

.mobile-dropdown-toggle {
  width: 100%;
  background: none;
  color: white;
  padding: 1rem;
  font-family: "Tektur";
  border: none;
  text-align: center;
  font-size: 1rem;
  cursor: pointer;
}

.mobile-dropdown-toggle:hover {
  background-color: #5463aa;
  color: #ffffff;
}

.mobile-dropdown-content {
  display: none;
  flex-direction: column;
  background-color: #ffffff;
}

.mobile-dropdown-content a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  padding: 0.75rem 1rem;
  border-top: 1px solid #444;
  font-family: "Tektur";
  font-size: 0.95rem;
}

.mobile-dropdown-content a:hover {
  background-color: #2c2f52;
}

.mobile-dropdown.active .mobile-dropdown-content {
  display: flex;
}

.mobile-dropdown-toggle .arrow {
  display: inline-block;
  transition: transform 0.3s ease;
  margin-left: 0.5rem;
}

.mobile-dropdown.active .mobile-dropdown-toggle .arrow {
  transform: rotate(180deg);
}

/* Responsive */

@media screen and (max-width: 768px) {
  .header-outil {
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  .logo-header {
    display: none;
  }

  .burger {
    display: block;
  }

  .dropdown {
    display: none;
  }

  .mobile-nav.active {
    display: flex;
  }

  .control-group {
    font-size: 0.9rem;
    height: 50px;
    width: 7.5rem;
    font-size: 0.7rem;
  }

  .help {
    display: flex;
    width: 30px;
    height: 30px;
    font-size: 24px;
    min-width: 30px;
  }
}

@media screen and (max-width: 480px) {
  .header-outil {
    height: 5rem;
  }

  .mobile-nav {
    top: 5rem;
  }

  .header-outil img {
    height: 3rem;
  }

  .header-outil p {
    font-size: 1rem;
  }

  .burger {
    font-size: 2rem;
  }

  .pannel {
    width: 95vw;
    min-width: 260px;
    padding: 1rem;
    height: 10rem;
    bottom: 2%;
    justify-content: left;
  }

  .controls {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  .control-group {
    font-size: 0.85rem;
    height: 5rem;
    padding: 0.5rem;
    width: 6rem;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 12px;
  }

  input[type="range"]::-moz-range-track {
    height: 12px;
  }

  input[type="range"]::-ms-track {
    height: 12px;
  }

  input[type="range"]::-webkit-slider-thumb {
    height: 20px;
    width: 20px;
  }

  input[type="range"]::-moz-range-thumb {
    height: 20px;
    width: 20px;
  }

  input[type="range"]::-ms-thumb {
    height: 20px;
    width: 20px;
  }
}

#title-mentions {
  font-family: "Tektur";
  color: white;
}

.mentions-legales p {
  color: white;
  font-family: "Tektur";
}

/* PAGE ABOUT */

.header-pages {
  background-color: rgba(25, 29, 55, 0.95);
  height: 7rem;
  width: 100vw;
}

.header-pages div {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.header-pages a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.7rem;
}

.header-pages #svg-container {
  height: 100%;
}

.about-section,
.mentions-legales {
  background-color: rgba(25, 29, 55, 1);
  font-family: Tektur;
  color: white;
  padding: 5rem 5rem 5rem 5rem;
}

.about-section h1,
.mentions-legales h1 {
  font-size: 3rem;
  margin-bottom: 2rem;
}

.about-section p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.about-section ul,
.mentions-legales ul {
  list-style-type: disc;
  padding-left: 2rem;
  margin-bottom: 2rem;
}

.about-section li,
.mentions-legales li {
  margin-bottom: 1rem;
}

.contact-section {
  background-color: rgba(25, 29, 55, 1);
  font-family: Tektur;
  color: white;
  padding: 5rem 5rem 5rem 5rem;
}

.contact-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input,
form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form button[type="submit"] {
  background-color: #5463aa;
  color: white;
  border: none;
  cursor: pointer;
  font-family: Tektur;
  font-weight: 300;
  font-size: 1rem;
  height: 2rem;
}

form button[type="submit"]:hover {
  background-color: #43508f;
}

#form-message {
  display: none;
  color: rgba(0, 161, 153, 1);
  margin-top: 2rem;
}

#form-message.active {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.mentions-main a,
.contact-section a {
  color: rgba(0, 161, 153, 1);
  text-decoration: none;
}
